


* {
  margin: 0px;
  padding: 0px;
}


.container {
  display: grid;
  /* viewport height: expand the view of all content around the page*/
  height: 100vh;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav nav"
    "sidebar content1 content2 main ."
    "sidebar content3 content3 content3 ."
    "sidebar footer footer footer ."
    ;
  grid-gap: 0.5rem;
}

nav {
  background: pink;
  grid-area: nav;
}

main {
  background: green;
  grid-area: main;
}

#sidebar {
  background: red;
  grid-area: sidebar;
}

#content1 {
  background: #64ffda;
  grid-area: content1;
}

#content2 {
  background: #73ffba;
  grid-area: content2;
}

#content3 {
  background: yellow;
  grid-area: content3;
}

footer {
  background: blue;
  grid-area: footer;
}


.j {
  width: 200px;
}




