

/* design logic: must have responsive website to fit phone/tablet/computer --> the order goes from left to right, the original css code is for phone */
/* remember to add this line below <title></title> and above <link to style.css>: <meta name="viewport" content="width=device-width, initial-scale=1.0"> */
/* iphone XR */



/* set all margin and padding to zero at the beginning so that we don't need to adjust a lot */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #283149;
  padding: 20px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

p {
  font-size: 15px;
}


/*============ search =============*/
.floating {
  display: inline-block;
  position: relative;
}

.crocodile {
  position: relative;
  height: auto;
  width: 80px;
  padding: 10px 0px 0px 10px;
}


/* ========== navigation ========== */
.navigate {
  display: inline-block;
  position: relative;
  width: 74%;
  text-align: right;
}

.home {
  display: inline-block;
  position: relative;
  right: 40px;
}

.fun {
  display: inline-block;
  position: relative;
  right: 20px;
}

.contact {
  display: inline-block;
  position: relative;
} 

.search-bar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: Ubuntu;
  font-size: 20px;
}


.mid {
  position: relative;
  padding: 10px 0px 20px 0px;
}
/* ========== heap ========= */

.heap {
  padding: 0px 0px 10px 0px;
}

.heap1 {
  display: inline-block;
  position: relative;
  width: 45%;
  padding: 10px;
}

.heap2 {
  display: inline-block;
  position: relative;
  width: 45%;
  left: 20px;
} 


.heap3 {
  display: inline-block;
  background-color: white;
  position: relative;
  width: 40%;
  height: 2rem;
  left: 10px;

  border: 5px solid #404B69;
  outline: none;
  border-radius: 15px;
  text-align: center;
}


.heap4 {
  display: inline-block;
  background-color: white;
  position: relative;
  width: 40%;
  height: 2rem;
  left: -66px;

  border: 5px solid #404B69;
  outline: none;
  border-radius: 15px;
  text-align: center;
}

.heap5 {
  display: inline-block;
  background-color: white;
  position: relative;
  width: 40%;
  height: 2rem;
  left: -20px;

  border: 5px solid #404B69;
  outline: none;
  border-radius: 15px;
  text-align: center;
}


/* ========== intro ========== */
.intro {
  padding: 0px 0px 20px 0px;
  border: solid;
  border-radius: 15px;
}


.personal-image {
  border: solid;
  border-radius: 50%;
  background-color: white;
  width: 15%;
  height: 15%;
  position: relative;
  top: 12px;
  left: 30px;
}

.personal-detail {
  position: relative;
  display: inline-block;
  inline-size: 60%;
  overflow-wrap: break-word;
  top: 10px;
  left: 50px;
  bottom: 5px;
  /* padding: 0px 0px 10px 30px; */
}


/* ======== bottom ======== */
.bottom {
  position: relative;
  top: 20px;

}

.new {
  border: solid;
  position: relative;
  height: 200px;
  top: 10px;
  text-align: center;
}

.interest {
  border: solid;
  position: relative;
  height: 340px;
  top: 10px;
}

.topics {
  border: solid;
  position: relative;
  height: 40%;
  top: 30px;
}

.social {
  border: solid;
  position: relative;
  height: 40%;
  top: 50px;
}

h4 {
  display: inline-block;
  border: solid;
  border-radius: 15px;
  padding: 5px;
  font-size: 17px;
}

.topic-header {
  padding: 5px;
  text-align: center;
}

.topic-content1 {
  padding: 5px 0px 5px 10px;
  text-align: center;
}

.topic-content2 {
  padding: 5px 0px 5px 10px;
  text-align: center;
}

.social-header {
  padding: 5px;
  text-align: center;
}

.social-content1 {
  padding: 5px 0px 5px 10px;
  text-align: center;
}

.social-content2 {
  padding: 5px 0px 5px 10px;
  text-align: center;
}

.social-content3 {
  padding: 5px 0px 5px 10px;
  text-align: center;
}

  


/* ============== ipad 12.9 inch resolution for best experience =============== */
@media only screen and (min-width: 1130px) {
 
  body {
    padding: 20px 125px 0px 125px;
  }

  .navigate {
    width: 90%;
    text-align: right;
  }


  .mid {
    padding: 20px 0px 30px 0px;
  }

  .heap {
    padding: 30px 0px 30px 0px;
  }

  .heap1 {
    position: relative;
    left: 80px;
  }

  .heap2 {
    position: relative;
    left: 85px;
  }

  .heap4 {
    position: relative;
    left: -155px;
  }

  .personal-image {
    width: 10%;
    height: 10%;
    position: relative;
    left: 90px;
  }

  .personal-detail {
    font-size: 30px;
    position: relative;
    left: 150px;
  }


  .new {
    height: 300px;
  }

  .interest {
    height: 230px;
  }

  .topics {
    display: inline-block;
    position: relative;
    height: 90%;
    top: -25px;
    left: 250px;
  }

  .topic-header {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  .topic-content {
    padding: 20px 20px 0px 20px;
  }


  .social {
    display: inline-block;
    position: relative;
    height: 90%; 
    top: 10px;
    left: 400px;
  }

  .social-header {
    padding: 0px;
    font-size: 25px;
  }

  .social-content {
    font-size: 30px;
    padding: 20px 40px 0px 40px;
  }

}



/* ============ desktop resolution ============ */
/* ======= use 2060px width for best experience ======= */

@media only screen and (min-width: 1800px) {

  body {
    padding: 20px 150px 0px 150px;
  }

  .navigate {
    width: 90%;
    text-align: right;
  }
  
  .search-bar {
    position: relative;
    display: inline-block;
  }

  .home {
    right: 180px;
  }

  .fun {
    right: 120px;
  }

  .contact {
    right: 60px;
  }

  a {
    font-size: 35px;
  }

  .mid {
    padding: 20px 0px 0px 0px;
  }

  .heap {
    position: relative;
    display: inline-block;
    left: 160px;
    top: 110px;
    width: 30%;
  }

  .heap1 {
    display: block;
    padding: 0px;
    left: 85px;
    bottom: 70px;
  }

  .heap2 {
    left: 95px;
    bottom: 40px;
  }

  h2 {
    display: none;
  }

  .heap3 {
    width: 70%;
    height: 65px;
  }

  .heap4 {
    display: block;
    width: 70%;
    height: 65px;
    left: 0px;
    bottom: 10px;
  }

  .heap5 {
    width: 70%;
    left: 0px;
    height: 65px;
    top: 10px;
  }

  .intro {
    display: inline-block;
    position: relative;
    width: 900px;
    height: 250px;
    left: 220px;
    bottom: 50px;
  }

  .personal-image {
    width: 15%;
    height: 55%;
    top: 50px;
  }

  p {
    font-size: 30px;
  }

  .bottom {
    height: 600px;
  }

  .new {
    display: inline-block;
    width: 70%;
    height: 530px;
    position: relative;
    top: -383px;
    left: 20px;
  }


  .interest {
    display: inline-block;
    position: relative;
    width: 20%;
    padding: 40px;
    left: 55px;
    top: 50px;
    height: 450px;
  }

  .topic-header {
    font-size: 30px;
  } 

  .topics {
    top: 0px;
    left: 0px;
    height: 50%;
    text-align: left;
    display: block;
  }

  .topic-content1 {
    display: inline-block;
    position: relative;
  }


  .social {
    left: 63px;
    height: 50%;
  }




}



