
/* general start state */
* {
  margin: 0px;
  padding: 0px;
}


body {
  background: #97DBAE;
}


/* ======================================= */
/* outter big grid setup  */

.whole-grid {
  padding: 50px 350px 100px 350px;

  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr; 
}


/* menu part */

.menu {
  grid-column-start: 1;
  grid-column-end: 4;
}

.logo {
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}  

.nav-item {
  list-style: none;
  margin-right: 2rem;
  padding: 10px 0px 10px 0px;
}


/* new methods: only select one element inside a block */
/* here move HOME link to the very left of the box, and the use of auto is like below:  */
/* if you set it to auto, it will automatically fill out the space the block margin needs to take */
.nav-item:first-child {
  margin-right:auto;
  margin-left: 2rem;
}


.nav-item a {
  text-decoration: none;
  color: black;
}

.navigation-list {
  /* background-color: pink; */
  border: solid;
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  /* here when you use center, meaning the center of the box, not text align center */
  align-items: center;
}


/* modify button later */
/* ======================================= */






/* ======================================= */
/* middle part of the webpage */
h2 {
  display: inline-block;
}

.music {
  border: solid;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.stack-one {
}

.stack-two {
}

.stack-three {
}

.stack {
  /* background-color: yellow; */
  text-align: center;

  display: grid;
  gap: 1rem;
}

.hide {
  visibility: hidden;
}


.bio {
  border: solid;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 2;
  grid-column-end: 4;
}

.bio-img {
  /* margin-right: auto; */
  /* margin-left: auto; */
  width: 7rem;
  padding: 15px;
  border: solid;
  border-radius: 50%;
  background-color: white;
}

p {
  font-size: 30px;
  text-align: center;
  width: 70%;
  border: solid;
}

/* ======================================= */






/* ======================================= */
/* news & topics part */
/* nested grid */
.news {
  border: solid;
  border-radius: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}


h3 {
  font-size: 30px;
}



.interests {
}

.resources {
}

.social {
}


.topics {
  border: solid;
  border-radius: 50px;

  display: grid;
  gap: 1rem;
}

.interest-content1 {
  text-align: center;
}

.interest-content2 {
  text-align: center;
}



h4 {
  font-size: 25px;
  display: inline-block;
  border: solid;
  padding: 7px;
  border-radius: 15px;
  margin: 10px 0px 10px;
}

h4 a {
  text-decoration: none;
}

h5 {
  font-size: 25px;
  margin: 10px 0px 10px;
}

.resources {
  text-align: center;
}

.social {
  text-align: center;
}



/* ======================================= */


.connection {
  border: solid;
  grid-column-start: 1;
  grid-column-end: 4;
}









