

/* design logic: must have responsive website to fit phone/tablet/computer --> the order goes from left to right, the original css code is for phone */
/* remember to add this line below <title></title> and above <link to style.css>: <meta name="viewport" content="width=device-width, initial-scale=1.0"> */
/* iphone XR */



/* set all margin and padding to zero at the beginning so that we don't need to adjust a lot */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #283149;
  padding: 20px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

p {
  font-size: 15px;
}


/*============ search =============*/
.floating {
  display: inline-block;
  position: relative;
}

.crocodile {
  position: relative;
  height: auto;
  width: 80px;
  padding: 10px 0px 0px 10px;
}


/* ========== navigation ========== */
.navigate {
  display: inline-block;
  position: relative;
}

.home {
  display: inline-block;
  position: relative;
  left: 70px;
}

.fun {
  display: inline-block;
  position: relative;
  left: 100px;
}

.contact {
  display: inline-block;
  position: relative;
  left: 125px;
} 

.search-bar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: Ubuntu;
  font-size: 20px;
}


.mid {
  position: relative;
  padding: 20px 0px 20px 0px;
}
/* ========== stack ========= */

.stack {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.stack1 {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 20%;
  height: 2rem;
  right: 30px;
  
  border: 5px solid #404B69;
  outline: none;
  border-radius: 15px;
  text-align: center;
}

.stack2 {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 20%;
  height: 2rem;
  right: 0px;

  border: 5px solid #404B69;
  outline: none;
  border-radius: 15px;
  text-align: center;
}

.stack3 {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 20%;
  height: 2rem;
  left: 30px;

  border: 5px solid #404B69;
  outline: none;
  border-radius: 15px;
  text-align: center;
}


/* ========== intro ========== */
.intro {
  padding: 0px 0px 20px 0px;
  border: solid;
  border-radius: 15px;
}

.personal-image {
  border: solid;
  border-radius: 50%;
  background-color: white;
  width: 15%;
  height: 15%;
  position: relative;
  padding: 10px;
  top: 12px;
  left: 15px;
}

.personal-detail {
  position: relative;
  display: inline-block;
  inline-size: 60%;
  overflow-wrap: break-word;
  /* padding: 0px 0px 10px 30px; */
  left: 30px;
  top: -14px;
}


/* ======== bottom ======== */
.bottom {
  position: relative;
  top: 20px;

}

.new {
  padding: 0px 0px 20px 0px;
}

.new1 {
  text-align: center;
  border: solid;
  padding: 80px;
  border-radius: 15px;
  position: relative;
}


.interest-header {
  position: relative;
  padding: 10px;
}
 
.topics {
  position: relative;
  display: inline-block;
}

.topic1 {
  position: relative;
  padding: 10px;
}

.topic2 {
  position: relative;
  padding: 10px;
}

.social {
  text-align: center;
}
