
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #283149;
  /* background-color: #A2D5AB */
}

.container-1 {
  width: 100%;
  height: 150px;
  /* border: solid 2px; */
  background-color: #283149;
  /* background: pink; */
  position: relative;
}

.j-container {
  width: 100%;
  height: 100px;
  /* border: solid 2px; */
  position: relative;
  padding: 20px 0px 0px 0px;
  bottom: 15px;
}

.jellyfish {
  width: 90px;
  position: absolute;
  bottom: 0px;
  left: 47%;
  /* border: solid 3px; */
  border-radius: 50%;
  background: white;
}

.menu-container {
  width: 100%;
  height: 45px;
  /* border: solid; */
  /* background-color: yellow; */
  background-color: #283149;
  position: relative;
  text-align: center;
  top: 0px;
}

.home {
  display: inline-block;
}

.fun {
  display: inline-block;
  margin: 0px 40px 0px 40px;
}

.contact {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}


/* ======= mid container 2 ====== */
.container-2 {
  width: 100%;
  height: 370px;
  /* border: solid; */
  /* background-color: grey; */
  background-color: #283149;
  position: relative;
}


.bio-container {
  width: 30%;
  height: 150px;
  border: solid 2px;
  border-radius: 20px;
  position: absolute;
  top: 27%;
  left: 20%;
}

.bio {
  /* border: solid 2px; */
  width: 150px;
  height: 110px;
  position: relative;
  top: 11%;
  left: 20px;
  display: inline-block;
}

.bio-img {
  width: 100px;
  position: absolute;
  bottom: 0px;
  border: solid 2px;
  border-radius: 50%;
  background: white;
  /* margin: 10px; */
}

.bio-text {
  font-size: 25px;
  display: inline-block;
  /* border: solid 2px; */
  position: absolute;
  top: 28%;
  height: 60px;
}




.stack {
  width: 500px;
  text-align: center;
  /* border: solid; */
  position: absolute;
  left: 55%;
  top: 35px;
}


.topStack {
  /* border: solid; */
  padding: 10px 0px;
}

.midStack {
  /* border: solid; */
  padding: 10px 0px;
}

.bottomStack {
  /* border: solid; */
  padding: 10px 0px;
}

.topLeft {
  display: inline-block;
}

.topMid {
  display: inline-block;
}

.topRight {
  display: inline-block;
}


.midLeft {
  display: inline-block;
}

.midMid {
  display: inline-block;
}

.midRight {
  display: inline-block;
}


.bottomLeft {
  display: inline-block;
}

.bottomMid {
  display: inline-block;
}

.bottomRight {
  display: inline-block;
}


.heapTwo {
  border: solid 5px #404B69;
  border-radius: 15px;
  padding: 20px 40px;
  background-color: white;
}



/* ======= bottom container 3 ======= */
.container-3 {
  width: 100%;
  height: 600px;
  /* border: solid; */
  /* background-color: #A2D5AB; */
  background-color: #283149;
  position: relative;
}

.new {
  width: 30%;
  height: 570px;
  border: solid 2px;
  position: absolute;
  top: 17px;
  left: 20%;
}

h3 {
  font-size: 30px;
  /* border: solid 2px; */
}

.topics {
  border: solid 2px;
  width: 20%;
  height: 100px;
  position: absolute;
  top: 17px;
  right: 22.5%;
  height: 572px;
  /* padding: 10px 0px 0px 0px; */
}


.interest-content1 {
  /* border: solid 2px; */
  text-align: center;
  position: relative;
  top: 10px;
}

.interest-content2 {
  /* border: solid 2px; */
  text-align: center;
}

.resource {
  /* border: solid 2px; */
  text-align: center;
  position: relative;
  top: 10px;

}

.social {
  /* border: solid 2px; */
  text-align: center;
  position: relative;
  top: 25px;
  height: 185px;
}


h4 {
  border: solid 2px;
  border-radius: 15px;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  background: white;
}

h5 {
  border: solid 2px;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  width: 15%;
  text-align: center;
  position: relative;
  left: 40%;
  background: white;
}









