
/* ================ font ================== */


@font-face {
  font-family: "Hack";
  src: url('../font/Hack-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "typewriter";
  src: url('../font/Kingthings_Trypewriter_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "slkscr";
  src: url('../font/slkscr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "indieflower";
  src: url('../font/IndieFlower-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* start with moblie layout first */
* {
  margin: 0px;
  padding: 0px;
}

body {
  /* background-color: #2E3440; */
  background-color: #8FBCBB;
}


/* =================================================== */
/* outer grid layout setting up */

.outer-grid {
  /* border: solid 2px; */
  padding: 0px 13px 0px 13px;

  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}



.logo {
  width: 4rem;
  margin-left: 0.8rem;
}

.nav-item {
  list-style: none;
  margin-right: 0.7rem;
}

/* new methods: only select ibe element inside a block */
/* here move HOME lik to the very left of the box, and the use fo auto is like below:  */
/* if you set it to auto, it will automatically fill out the space the block margin needs to take */
.nav-item:first-child {
  margin-right: auto;
  margin-left: 0.2rem;
}



.navigation-list {
  display: flex;
  /* border: solid 1px; */
  border-radius: 10px;
  justify-content: flex-end;
  /* here when using center, meaning the center of the box, is not equivalent to text-align */
  align-items: center;
}


.menu {
  /* border: solid; */
  padding: 15px 0px 0px 0px;
  list-style: none;
}


/* effect: [blur, shadow, transform, perspective] */
/* ======================================= */

.home-button {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-family: "slkscr";
  /* border: solid 0.125em; */
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  /* box-shadow: inset 0 0 0.5em 0, 0 0 0.5em 0; */

  position: relative;
}

/* ========= shadow from perspective view, suprt interesting ======= */
.home-button::after {
  content: "";
  position: absolute;
  background: black;
  top: 55%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(0.7em);
  opacity: 0.4;
}

/* ========= shadow from perspective view, suprt interesting ======= */

.home-button:hover {
  background: black;
  color: white;
  text-shadow: 
  /* 0 0 0.125em black, */
  0 0 0.9em white; 
}


/* button */
.menu-button {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-family: "slkscr";
  /* border: solid 0.125em; */
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  /* box-shadow: inset 0 0 0.5em 0, 0 0 0.5em 0; */

  position: relative;
}

.menu-button:hover {
  background: black;
  color: white;
  text-shadow: 
  /* 0 0 0.125em black, */
  0 0 0.9em white; 
}

/* ======================================= */
/* stack part: music player */


.hide-left {
  display: none;
}

.hide-right {
  display: none;
}

.stack {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* original method of getting music play */
/* .music { */
/*   border: solid; */
/*   border-radius: 20px; */
/*   padding: 5px; */
/*   text-align: center; */
/*   font-family: 'Hack'; */
/*   font-size: 18px; */
/*   margin: 0px 15px 0px 10px; */
/*   background-color: white; */
/* } */


.playPauseBTN {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: 'Hack';
  font-size: 18px;
  margin: 0px 20px 10px 12px;
  background-color: white;
  color: black;
}



/* since the original event is trick on button, so this effect is not clear, but later you add some fancy color effect */
.pressed {
  box-shadow: 0 3px 4px 0 yellow;
  opacity: 0.3;
}



/* ================== bio =================== */


.bio-img {
  width: 4rem;
  border: solid 2px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
}


.bio {
  border: solid;
  border-radius: 60px;
  margin: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 15px 0px;
}


p {
  margin: 0px 20px 0px 0px;
  font-size: 15px;
  text-align: center;
  width: 50%;
  font-family: 'Hack';
}


/* add animation to bio text, typewriter effect */
span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/* ======================================= */
/* news & topics part */
/* should it be a nested grid?  */


.news {
  border: solid;
  border-radius: 30px;
  text-align: center;
}




/* ======================================= */
/* topics section */


h3 {
  font-size: 25px;
  font-family: 'indieflower';
}



.topics {
  /* border: solid; */
  border-radius: 50px;

  display: grid;
  gap: 1rem;
}


.interests-content1 {
  text-align: center;
  font-family: 'indieflower';
}

.interests-content2 {
  text-align: center;
  font-family: 'indieflower';
}


h4 {
  font-size: 20px;
  display: inline-block;
  border: solid 2px;
  padding: 5px;
  border-radius: 15px;
  margin: 7px 0px 7px;
  background-color: white;
}

h4 a {
  text-decoration: none;
  color: black;
}

h4 a:hover {
  color: blue;
}

.resources {
  text-align: center;
  font-family: 'indieflower';
  font-size: 18px;
}

h5 {
  margin: 3px 0px 3px;
}

h5 a {
  text-decoration: none;
  color: black;
}

h5 a:hover {
  color: blue;
}


.social {
  text-align: center;
  font-family: 'indieflower';
  font-size: 18px;
}



/* ================ bottom ================= */
.bottom {
  /* border: solid; */
}




@media only screen and (min-width: 1000px) {
 
  .outer-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 20px 100px 20px 100px;
  }

  .menu {
    grid-column-start: 1;
    grid-column-end: 4;
  }


  .nav-item {
    margin-right: 2rem;
    padding: 10px 0px 10px 0px;
  }

  .nav-item a {
    font-size: 30px;
  }

  .logo {
    width: 5rem;
    display: block;
    margin-left: 1.3rem;
  }


  /* ========================== */
  /* bio part */

  .bio {
    grid-column-start: 2;
    grid-column-end: 4;
  }


  .stack {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 1fr;
  }


  .playPauseBTN {
    padding: 10px;
    margin: 10px;
  }

  .hide-left {
    display: inline-block;
    font-family: 'Hack';
    font-size: 15px;
  }
  

  .top-left {
    margin: 0px 53px 0px 0px;
  }

  .mid-left {
    margin: 0px 30px 0px 0px;
  }

  .bottom-left {
    margin: 0px 10px 0px 0px;
  }


  .music {
    display: inline-block;
    font-size: 14px;
    padding: 10px 7px 10px 7px;
  }


  .news {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .bottom {
    grid-column-start: 1;
    grid-column-end: 4;
  }

}



@media only screen and (min-width: 1600px) {

  
  .outer-grid {
    padding: 30px 380px 30px 380px;
  }

  .stack {
  }

  .hide-left {
    font-size: 17px;
    padding: 0px 0px 0px 0px;
  }

  .music {
    font-size: 16px;
    padding: 20px;
  }

  .bio-img {
    width: 5.5rem;
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
  }

  h5 {
    font-size: 18px;
    margin: 10px 0px 10px;
  }

  .bottom {
    margin: 20px 0px 0px 0px;
  }

}







